html {
    width: 100%;
    height: 100%;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.volkhov-regular-italic {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: italic;
}

body {
    background-color: #009398;
    color: #263238;
}

h1 {
font-family: "Pacifico", cursive;
}

h2 {
font-family: "Volkhov", serif;
}

h3 {
  font-family: "Volkhov", serif;
}

p {
    font-family: "Volkhov", serif;
}



@media (min-width: 768px) {
  body {
    background-color: #FF6F61;
    color: #263238;
    width:100%;
  height:350px;
  border:5px solid;
  border-style: outset;
  border-color: #E0F7FA;
  }
};

  nav {
    display: block;
  }

  .sections {
    display: flex;
  }

   h1 {
    font-size: 2.5em;
    text-align: center;
  }

    h2 {
    text-align: center;
  }



@media (min-width: 1024px) {
  body {
    background-color: #009398;
    color: #263238;
    width:100%;
  height:350px;
  border:5px solid;
  border-style: outset;
  border-color: #00BCD4;
  
  }

  h1 {
    font-size: 2.5em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
};