html {
    width: 100%;
    height: 100%;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.volkhov-regular-italic {
  font-family: "Volkhov", serif;
  font-weight: 400;
  font-style: italic;
}

body {
    background-color: #009398;
    color: #263238;
}

h1 {
font-family: "Pacifico", cursive;
}

h2 {
font-family: "Volkhov", serif;
}

h3 {
  font-family: "Volkhov", serif;
}

p {
    font-family: "Volkhov", serif;
}